/* Slideshow component's style */

.slideshow {
  // The style for the global slideshow container
  position: relative;
  display: flex;
  height: 415px;
  &__pic {
    // The style for the slideshow's images
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
  }
  &__img-conditioned {
    // The style for the slideshow's container for arrows and count elements
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
  }
  &__arrow {
    // The style for the slideshow's arrows' container
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 100%;
    span {
      padding: 0 23.36px 0 23.36px;
      cursor: pointer;
    }
  }
  &__count {
    // The style for the slideshow's image count
    justify-content: center;
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 24.92px;
    color: $textImgColor;
    font-size: $textMainSize * 0.75;
  }
}

// The style for mobile phone screen
@media #{$BREAKPOINT-MOBILE} {
  .slideshow {
    // The style for the global slideshow container
    position: relative;
    height: 255px;
    &__arrow {
      // The style for the slideshow's arrows' container
      img {
        width: 25%;
      }
      span {
        text-align: center;
        padding: 0 0px 0 0px;
      }
    }
  }
}
