// The style for about page component

.about__section {
  display: flex;
  flex-direction: column;
  row-gap: 31px;
  margin: 31px 109px 100px 108px;
}

/* // The style for mobile phone screen */
@media #{$BREAKPOINT-MOBILE} {
  .about {
    &__section {
      row-gap: 20px;
      margin: 19px 0px 100px 0px;
    }
    &__banner {
      height: 223px;
    }
  }
}
