/* Rating component's style */

.rating {
  // The style for the rating container
  display: flex;
  column-gap: 10px;
}

/* // The style for mobile phone screen */
@media #{$BREAKPOINT-MOBILE} {
  .rating {
    // The style for the rating container
    column-gap: 5px;
    p {
      // The style for the rating container's blocs wrapping either red stars either grey stars
      display: flex;
      height: 15px;
      width: 15px;
    }
  }
}
