/* Cards component's style */

.cards-container {
  //style for the section that wrap all the cards created
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 50px;
  column-gap: 20px;
  background-color: $containerBg;
  padding: 56px 20px 56px 20px;
  margin-top: 43px;
  border-radius: 25px;
  &__card {
    // style for a unique card
    height: 340px;
    width: 340px;
    position: relative;
    h2 {
      // style for the card title
      position: absolute;
      bottom: 0;
      margin: 0 20px 20px 20px;
      color: $textImgColor;
      font-size: $textMainSize * 0.75;
      font-weight: normal;
    }
  }
  &__card-img {
    // style for he card image
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    // we put a filter on the card image to darken it
  }
  &__card-link::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.55;
    border-radius: 10px;

    background: linear-gradient(
      (180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%)
    );
  }
}

/* // The style for mobile phone screen */
@media #{$BREAKPOINT-MOBILE} {
  .cards-container {
    //style for the section that wrap all the cards created
    background-color: transparent;
    padding: 0px 0px 0px 0px;
    margin-top: 22px;
    row-gap: 20px;
    &__card {
      // style for a unique card
      height: 255px;
    }
  }
}

/* // The style for tablets */
@media #{$BREAKPOINT-TABLET} {
  .cards-container {
    //style for the section that wrap all the cards created
    justify-content: space-between;
    background-color: transparent;
    padding: 0px 0px 0px 0px;
    margin-top: 22px;
    row-gap: 20px;
    column-gap: 10px;
    &__card {
      // style for a unique card
      height: 255px;
    }
  }
}
