/* Footer component's style */

footer {
  // the style for the footer container
  background-color: $backgroundColor;
  min-height: 209px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px -100px 0px -100px;
  color: $textImgColor;
  &__logo {
    // the style for the footer's logo
    margin-top: 31%;
  }
  p {
    // the style for the footer's mentions
    display: inline-block;
    text-align: center;
  }
}

/* The style for tablets and phone */
@media #{$BREAKPOINT-TABLET-AND-MOBILE} {
  footer {
    // the style for the footer container
    margin: 20px -20px 0px -20px;
    p {
      // the style for the footer's mentions
      font-size: $textMainSize * 0.5;
    }
  }
}
