// Here we define the global app style
$textMainSize: 24px;
html {
  height: 100%;
  position: relative;
  margin: 0;
}
body {
  margin: 0;
  padding: 40px 100px 0px 100px;
  font-family: 'Montserrat';
  font-size: $textMainSize;
  flex-direction: column;
}

/* // The style for tablets and phone */
@media only screen and (max-width: 1024px) {
  body {
    padding: 20px 20px 0px 20px;
  }
}
