/* Banner component's style (used in the home and about components) */

.banner {
  // style for the section that wrap banner's elements
  position: relative;
  height: 223px;
  &__img {
    // style for the banner's image
    border-radius: 25px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(70%);
  }
  &__text {
    // style for the banner's title container
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    h1 {
      // style for the banner's title
      font-weight: normal;
      color: $textImgColor;
      font-size: $textMainSize * 2;
    }
  }
}

// The style for mobile
@media #{$BREAKPOINT-MOBILE} {
  .homepage .banner {
    // style for the section that wrap banner's elements in the Home component
    height: 111px;
  }
  .banner {
    // style for the section that wrap banner's elements
    &__text {
      // style for the banner's title container
      justify-content: left;
      h1 {
        // style for the banner's title
        font-size: $textMainSize;
        margin: 0 16px 0 16px;
      }
    }
    &__img {
      // style for the banner's image
      border-radius: 10px;
    }
  }
}

// The style for tablets
@media #{$BREAKPOINT-TABLET} {
  .banner {
    &__text {
      h1 {
        // style for the banner's title
        font-size: $textMainSize * 1.5;
      }
    }
    &__img {
      // style for the banner's image
      border-radius: 10px;
    }
  }
}
